*.wav filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.TTF filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.cmp filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.bytes filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/Feel/NiceVibrations/Plugins/iOS/LofeltHaptics.framework/LofeltHaptics filter=lfs diff=lfs merge=lfs -text
*.TGA filter=lfs diff=lfs merge=lfs -text
*.Fbx filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.TIF filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
Assets/Asset[[:space:]]Packs/Environments[[:space:]]Assets/NatureManufacture[[:space:]]Assets/River[[:space:]]Auto[[:space:]]Material[[:space:]]3/Demo/URP[[:space:]]RAM[[:space:]]3[[:space:]]Demo.unity filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/Feel/NiceVibrations/Plugins/iOS/LofeltHaptics.framework/LofeltHaptics filter=lfs diff=lfs merge=lfs -text
Assets/Asset[[:space:]]Packs/Environments[[:space:]]Assets/NatureManufacture[[:space:]]Assets/River[[:space:]]Auto[[:space:]]Material[[:space:]]3/Demo/URP[[:space:]]RAM[[:space:]]3[[:space:]]Demo.unity filter=lfs diff=lfs merge=lfs -text
*.asd filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
Assets/Asset[[:space:]]Packs/Environments[[:space:]]Assets/HIVEMIND/Medieval_Docks/URP/Scenes/PL_Medieval_Docks.unity filter=lfs diff=lfs merge=lfs -text
*.rtf filter=lfs diff=lfs merge=lfs -text
